{% extends "base.html" %}{% load staticfiles %}

{% block content %}

{% endblock %}


{% block javascript %}
{{ block.super }}
<!-- jqGrid -->
<script src="{% static 'js/plugins/jqGrid/i18n/grid.locale-en.js' %}"></script>
<script src="{% static 'js/plugins/jqGrid/jquery.jqGrid.min.js' %}"></script>

<script>
  $.ajax({
    method: 'GET',
    url: "{% url 'products:grid_config' %}",
    success: function (data) {
      $("#my_grid")
        .jqGrid(data)
        .navGrid('#my_grid_nav',
          {add: false, edit: false, del: false, view: true},
          {}, // edit options
          {}, // add options
          {}, // del options
          {multipleSearch: true, closeOnEscape: true}, // search options
          {jqModal: false, closeOnEscape: true} // view options
        )
    },
    error: function (data) {
      alert("An error occurred!");
      console.log(data);
    },
  })
</script>
{% endblock javascript %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet">
{% endblock css %}
